/* Represents the entire page */
.page-container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Represents all of the information on the page (images info etc) */
.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    align-items: start;
    padding-top: 80px;
    animation: fadeIn 1.5s ease-out;
}

/* Represents the image on the left with the lupus facts */
.lupusImg img {
    max-width: 400px;
    height: auto;
}

/* Represents the column on the right with the lupus facts and logo */
.lupusInfo {
    max-width: 500px;
    max-height: 800px;
    color: white;
    font-family: "Prata", serif;
    background-color:#67067dbd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.lupusInfo h1 {
    font-size: 30px;
    color: yellow;
    font-style: italic;
}

.lupusInfo p {
    font-size: 18px;
    line-height: 1.5;
}

.lupusLink {
    font-size: 12px;
    font-style: italic;
}

.infoLink {
    color: white;
}

.infoLink:hover {
    color: blue;
}

.lupusLogo {
    margin-top: 20px;
}

.lupusLogo img {
    max-width: 100%;
    height: auto;
    padding: 25px;
}

@media (max-width: 768px) {
    .content-wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .lupusImg img {
        max-width: 80%;
        margin-top: 110px;
        padding-left: 40px;
    }

    .lupusInfo {
        max-width: 80%;
        margin-bottom: 20px;
        padding-left: 60px;
    }

    .lupusInfo h1 {
        font-size: 24px;
    }

    .lupusInfo p {
        font-size: 16px;
    }

    .lupusLogoAbout img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 80%;
    }
}